<div class="container mt-5">

  <h2>Agregar Producto</h2>
      <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="nombre">Nombre del Producto</label>
          <input id="nombre" formControlName="nombre" class="form-control" />
          <div *ngIf="productoForm.get('nombre').invalid && productoForm.get('nombre').touched" class="text-danger">
            El nombre es requerido.
          </div>
        </div>
    
        <div class="form-group mb-3">
          <label for="categoria">Categoría</label>
          <input id="categoria" formControlName="categoria" class="form-control" />
          <div *ngIf="productoForm.get('categoria').invalid && productoForm.get('categoria').touched" class="text-danger">
            La categoría es requerida.
          </div>
        </div>
    
        <div class="form-group mb-3">
          <label for="precio">Precio</label>
          <input id="precio" type="number" formControlName="precio" class="form-control" />
          <div *ngIf="productoForm.get('precio').invalid && productoForm.get('precio').touched" class="text-danger">
            El precio debe ser mayor a 0.
          </div>
        </div>
    
        <div class="form-group mb-3">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
          <div *ngIf="productoForm.get('descripcion').invalid && productoForm.get('descripcion').touched" class="text-danger">
            La descripción es requerida.
          </div>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">Agregar Producto</button>
      </form>
</div>